click==8.3.0
    # via
    #   -r admin/requirements/requirements.txt
    #   typer
colorama==0.4.6
    # via
    #   -r admin/requirements/requirements.txt
    #   click
    #   pytest
iniconfig==2.3.0
    # via pytest
markdown-it-py==4.0.0
    # via
    #   -r admin/requirements/requirements.txt
    #   rich
mdurl==0.1.2
    # via
    #   -r admin/requirements/requirements.txt
    #   markdown-it-py
mypy==1.18.2
    # via -r admin/requirements/requirements-dev.in
mypy-extensions==1.1.0
    # via mypy
packaging==25.0
    # via pytest
pathspec==0.12.1
    # via mypy
pluggy==1.6.0
    # via pytest
pygments==2.19.2
    # via
    #   -r admin/requirements/requirements.txt
    #   pytest
    #   rich
pytest==9.0.1
    # via -r admin/requirements/requirements-dev.in
rich==14.2.0
    # via
    #   -r admin/requirements/requirements.txt
    #   typer
ruff==0.15.6
    # via -r admin/requirements/requirements-dev.in
shellingham==1.5.4
    # via
    #   -r admin/requirements/requirements.txt
    #   typer
typer==0.20.0
    # via -r admin/requirements/requirements.txt
typing-extensions==4.15.0
    # via
    #   -r admin/requirements/requirements.txt
    #   mypy
    #   typer
